html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

#navbar li {
    display: inline-block;
} 

a {
    color: white;
    text-decoration: none;
}

li {
    margin: .5%;
}

#navbar {
    background-color: #9d9171;
    padding: 0;
    margin: 0;
    height: 64px;
    font-size: 20px;
}

#navbar > li:first-child{
    margin-left: 5%;
    margin-right: 35%;
    font-size: 25px;
}

.search {
    width: 100%;
    height: 100px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.styled-select {
    width: 240px;
    height: 40px;
    overflow: hidden;
    background: url(new_arrow.png) no-repeat right #ddd;
    margin: 10px;
    
}

.nav {
    width: 100%;
}

#table {
    width: 70%;
     border-collapse:collapse;
     margin:  0 auto;
     margin-top: 100px;
}

#table td{
    max-width: 150px;
    padding: 5px;
}
tr:nth-child(even) {
    background: #CCC;
}

tr:nth-child(odd) {
    background-color: #FAFAFA;
}
tr{
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
}


/* ======exp======= */
/* 
#content {
    width: 40%;
    margin:  100px auto;
    color: black;
}

.exp {
    color:  black;
    margin: 0 auto;
    font-size: 30px;
    height: 100px;
} */

#tab-demo {
    width: 1152px;
    height: 800px;
    margin: 5% auto;
}

#tab-demo>ul {
    display: block;
    margin: 0;
    list-style: none;
}

.tab-title {
    list-style: none;
}

.pdf {
    display: block;
}

#tab-demo>ul>li {
    display: inline-block;
    vertical-align: top;
    font-family: '微軟正黑體';
    margin: 0 -1px -1px 0;
    border: 1px solid #BCBCBC;
    height: 25px;
    line-height: 25px;
    background: #cdcdcd;
    padding: 0 15px;
    list-style: none;
    box-sizing: border-box;
}

#tab-demo>ul>li a {
    color: #000;
    text-decoration: none;
}

#tab-demo>ul>li.active {
    border-bottom: 1px solid #fff;
    background: #fff;
}

#tab-demo>.tab-inner {
    clear: both;
    color: #000;
    border: 1px #BCBCBC solid;
    height: 100%;
}

.tab-inner {
    padding: 15px;
    height: 50px;
}